  <div id="homepage" v-cloak>
    <div class="container">
      <br/>
      <h1 class="text-center">Profile</h1>
      <div class="login-form-container">
        <hr/>
        <form action="/api/get-user-info" method="POST">
          <div class="form-group">
            <select class="form-control" focus-first name="network">
              <option value="instagram" selected="selected">Instagram</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="User Handler" name="handler" value="" required autocomplete="off"></input>
          </div>
          <div class="form-group">
            <ajax-button class="btn-dark btn-lg btn-block">Get Info</ajax-button>
          </div>
        </form>
      </div>
    </div>
    <% if(typeof user !== 'undefined') { %>
      <div class="container">
        <div><label>Name:</label><br><h5><%= user.name %></h5></div><br>
        <div><label>Description:</label><br><h5><%= user.description %></h5></div><br>
        <div><label>Followers:</label><br><h5><%= user.followers_number %></h5></div><br>
        <div><label>Followings:</label><br><h5><%= user.following_number %></h5></div>
        <hr/>
        <% if(user.posts.length > 0) { %>
          <div class="sub-header">
            <h4>Last Posts:</h4>
          </div>
          <% _.each(user.posts, function (post) { %>
            <div class="post_item">
              <div class="image">
                <img src="<%= post.imageUrl %>">
                <label>ID:</label><span><%= post.id %></span><br><label>URL:</label><a href="<%= post.imageUrl %>"><%= post.imageUrl %></a>
              </div>
            </div>
          <% }) %>
        <% } %>      
      </div>
    <% } %>
    <% if(typeof error !== 'undefined') { %>
      <div class="container">
        <div class="error_label"><%= error %></div>
      </div>
    <% } %>
  </div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>

<style>
  .sub-header {
    text-align: center;
  }
  .container {
    margin-bottom: 30px;
  }
  .post_item {
    margin-bottom: 30px;
  }
  .post_item image {
    width: 100px; 
    height: 100px;
    float: left;
    margin-right: 20px;
  }
  .error_label {
    text-align: center;
  }
</style>
